[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==2.8.2"
pydantic_core = "==2.20.1"
rpaframework= "==28.6.1"
rpaframework-core = "==11.3.3"
selenium = "==4.15.2"

[dev-packages]

[requires]
python_version = "3.11"
